html { 
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background: url("../logo-burst-standard.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}

a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}

.wrapper {
    padding: 15em 0;
}

.p1{
	font-size: 75px;
	color: white;
	display: table;
    margin: 0 auto;
	line-height: 2;
	letter-spacing: 1px;
}


.title {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	color: #D1D1D1;
	font-size: 64;
	padding: 0;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 2.7px;

}
.button {
   border-top: 1px solid #f79797;
   background: #ff0000;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
   background: -webkit-linear-gradient(top, #ff0000, #ff0000);
   background: -moz-linear-gradient(top, #ff0000, #ff0000);
   background: -ms-linear-gradient(top, #ff0000, #ff0000);
   background: -o-linear-gradient(top, #ff0000, #ff0000);
   padding: 20px 40px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
