html { 
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background: url("../logo-burst-standard.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}



.wrapper {
    padding: 15em 0;
}

.p1{
	font-size: 75px;
	color: white;
	display: table;
    margin: 0 auto;
	line-height: 2;
	letter-spacing: 1px;
}

.btn2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: table;
    margin: 0 auto;
}